@if (step1) {
    <div class="container">
        <div class="inner">
            <h1>Forgot your password?</h1>
            <form [formGroup]="forgetPasswordForm" (ngSubmit)="fogetPasswordSumbit()">
                <div class="gap-5 flex flex-column">
                    <div class="card">
                        <input pInputText formControlName="email" type="email" class="w-full " placeholder="Enter Email" />
                        <app-error-message [errorText]="[{text:'email is required', error:'required'}]"
                            [formGroupErr]="forgetPasswordForm" [formControlErr]="'email'"></app-error-message>
    
                        <app-api-response-error [apiResponeErr]="errMessage"></app-api-response-error>
    

                    </div>
                    <app-button [class.disabled]="isDisabled" [text]="'Sign in'" [classes]="'w-full'"></app-button>
                </div>
            </form>
        </div>
    </div>
}

@if (step2) {
    <div class="container">
        <div class="inner">
            <h1>Verify code</h1>
            <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSumbit()">
                <div class="gap-5 flex flex-column">
                    <div class="card">
                        <input pInputText formControlName="resetCode" type="text" class="w-full " placeholder="Enter the code" />
                        <app-error-message [errorText]="[{text:'code is required', error:'required'}]"
                            [formGroupErr]="verifyCode" [formControlErr]="'resetCode'"></app-error-message>
    
                        <app-api-response-error [apiResponeErr]="errMessage"></app-api-response-error>
                        <app-api-response-error [apiResponeSuccsse]="succsesMessage"></app-api-response-error>
    
                        <div class="text-right pt-3">
                            <span>Didn’t receive a code? <a routerLink="/auth/forgetPassword" (click)="ResendCode()">Resend</a></span>
                        </div>
                    </div>
                    <app-button [class.disabled]="isDisabled" [text]="'Verify'" [classes]="'w-full'"></app-button>
                </div>
            </form>
        </div>
    </div>
}

@if (step3) {
    <div class="container">
        <div class="inner">
            <h1>Set a Password</h1>
            <form [formGroup]="setPassword" (ngSubmit)="setPasswordSumbit()">
                <div class="gap-5 flex flex-column">
                    <div class="card">
                        <p-password formControlName="newPassword" placeholder="Create new Password" [toggleMask]="true"
                            [feedback]="false" />
    
                        <app-error-message
                            [errorText]="[{text:'Password is required', error:'required'}, {text:'At least one uppercase letter.' , error:'pattern'},{text:'At least one lowercase letter.' , error:'pattern'},{text:'At least one number.' , error:'pattern'},{text:'At least one special character.' , error:'pattern'},{text:'The text must be at least 8 characters long.' , error:'pattern'}] "
                            [formGroupErr]="setPassword" [formControlErr]="'newPassword'"></app-error-message>
                    </div>
                    <div class="card">
                        <p-password formControlName="rePassword" placeholder="Confirm Password" [toggleMask]="true"
                            [feedback]="false" />
                            <app-error-message
                            [errorText]="[{text:'Password is required', error:'required'}] "
                            [formGroupErr]="setPassword" [formControlErr]="'rePassword'"></app-error-message>
    
                            @if (setPassword.getError('mismatch') && setPassword.get('rePassword')?.touched ) {
                                <p-messages severity="error">
                                    <ng-template pTemplate>
                                        <div>Password is not matching</div>
                                    </ng-template>
                                </p-messages>
                                }
                            <app-api-response-error [apiResponeErr]="errMessage"></app-api-response-error>
                            <app-api-response-error [apiResponeSuccsse]="succsesMessage"></app-api-response-error>

                    </div>
                    <app-button [class.disabled]="isDisabled" [text]="'Submit'" [classes]="'w-full'"></app-button>
                </div>
            </form>
        </div>
    </div>
}
