.exam_layout {
    background-color: #FBF9F9;
    min-height: 100vh;
    padding: 20px;
}


.exams {
    padding-right: 2%;
}

.search__nav {
    img {
        width: 43px;
        height: 43px;
        object-fit: cover;
        object-position: top;
        border-radius: 40.5px;
    }

    i {
        display: none;
    }
}

.search__nav p-iconField {
    border-radius: 20px;
    box-shadow: 0px 15px 40px 0px #0000001A;

}

.search__nav p-iconField input {
    border-radius: 20px;
    padding: 16px 16px 16px 55px;
}

::ng-deep {
    .search__nav span.p-input-icon.pi.pi-search {
        color: var(--main-color);
    }

}

.nav_list {
    cursor: pointer;
    width: fit-content;
    padding: 10px;

    svg {
        width: 22px;
    }
}


.routerActive {
    background-color: var(--main-color);
    color: white;
    border-radius: 10px;
    svg path {
        fill: white;

    }
}





@media screen and (max-width: 992px) {

    // navbar
    .navbar img {
        width: 105px;
    }
}

@media screen and (max-width: 767px) {

    // navbar 
    .exam_layout {
        padding: 0px;
    }

    .navbar {
        position: absolute;
        transition: top 0.5s, padding 0.5s;
        background-color: white;
        top: -100%;
        width: 100%;
        padding: 20px;
    }

    .search__nav {
        background-color: var(--main-color);

        i {
            display: block;
        }

        p-iconField {
            input {
                display: none;
            }
        }
    }

    .exams {
        width: 100% !important;
        padding: 0;
        gap: 0;
    }

    .start__quiz__btn {
        display: none;
    }

    ::ng-deep {
        .search__nav span.p-input-icon.pi.pi-search {
            color: white;
            cursor: pointer;
        }

    }

}