h1 {
    font-size: 24.78px;
    line-height: 29.99px;
}

input {
    box-shadow: 0px 10px 20px 0px #4461F20D;
}

.register {
    display: flex;
    justify-content: center;
}

.inner {
    min-width: 50%;
}

a {
    color: var(--main-color);
    text-decoration: none;
    font-family: Poppins;
}

::ng-deep {
    .p-password {
        display: block;
    }

    input {
        width: 100%;
        background-color: #F9F9F9;
    }
}