<div class="modal__parent">
    <div class="diploma__modal">
        @if (section1) {
        <div class="section1">
            <p>Instructions</p>
            <ul class="block list-disc mb-3">
                <li>Lorem ipsum dolor sit amet consectetur.</li>
                <li>Lorem ipsum dolor sit amet consectetur.</li>
                <li>Lorem ipsum dolor sit amet consectetur.</li>
                <li>Lorem ipsum dolor sit amet consectetur.</li>
            </ul>
            <app-button [text]="'Start'" (click)="startSection2()"></app-button>
        </div>
        }
        @if (section2) {
        <div class="section2">
            <div class="flex justify-content-between align-items-center">
                <span class="question_number">Question {{indexOfArray + 1}} of {{questionArray.length}}</span>
                <span class="timer flex align-items-center" [style.color]="minutes < 2 ? '#CE2711' : ''">
                    <img src="./assets/images/image 2.png" alt="">
                    {{ minutes }}:{{ seconds }}
                </span>
            </div>
            <div class="balls pt-4 pb-3 flex justify-content-between">
                @for (item of questionArray; track $index) {
                <span #balls [style.background-color]="$index == 0 ? 'var(--main-color)': '' "></span>
                }
            </div>
            @for (question of questionArray ; track $index) {
            <div [class.hidden]="$index !== indexOfArray ">
                <p>{{question.question}}</p>
                <ul>
                    @for (li of question.answers; track $index) {
                    <li>
                        <input type="radio" (click)="getTheKey(li.key, question.correct)"
                            [id]="li.answer + question.question" [name]="question.question">
                        <label [for]="li.answer + question.question">{{li.answer}}</label>
                    </li>
                    }
                </ul>
            </div>

            }
        </div>
        <div class="flex gap-6 mt-4">
            <app-button class="btn__back w-full" [text]="'Back'" (click)="backBtn()"></app-button>
            <app-button class="btn__next w-full"  [class.disabled]="isDisabled" [text]="btnText" (click)="nextBtn()"></app-button>
        </div>
        }
        @if (section3) {
        <div class="section3">
            <p>Your Score</p>
            <div class="container flex justify-content-evenly gap-4">
                <div class="percentage flex justify-content-center align-items-center">
                    <span class="progress-test">{{(correctAnswer / questionArray.length * 100).toFixed()}}%</span>
                </div>
                <div class="align-content-center">
                    <div class="correct__answer mb-1"> <span>Correct</span> <span
                            class="ml-3 answer__badge">{{correctAnswer}}</span></div>
                    <div class="incorrect__answer"> <span>Incorrect</span> <span
                            class="ml-3 answer__badge">{{incorrectAnswer}}</span></div>
                </div>
            </div>
            <div class="flex gap-6 mt-4">
                <app-button class="btn__back w-full" [text]="'Back'" (click)="closeModal()"></app-button>
                <app-button class="btn__next w-full" [text]="'Show Result'" (click)="showResult()"></app-button>
            </div>
        </div>
        }
        @if (section4) {
        <div class="section4 grid">
            @for (question of wrongAnswer ; track $index) {
            <div class="wrong_answer col-12 md:col-6">
                <div class="inner_container">
                    <p>
                        {{question.fullQuestion.question}}
                    </p>
                    <ul>
                        @for (answer of question.fullQuestion.answers ; track $index) {
                        <li [ngClass]="{
                            'backgroundColor_red':answer.key == question.answer && answer.key !== question.correctAnswer,
                            'backgroundColor_green': answer.key == question.correctAnswer
                        }">
                            <input type="radio" class="disabled" [id]="answer.answer + question.fullQuestion.question"
                                [name]="question.fullQuestion.question"
                                [checked]="answer.key == question.answer" >
                            <label>{{answer.answer}}</label>
                        </li>
                        }
                    </ul>
                </div>
            </div>
            }
            <app-button (click)="closeModal()" class="w-full mt-2" [text]="'Close'"></app-button>
        </div>
        }
    </div>
</div>