<div class="container">
    <div class="inner">
        <h1>Sign in</h1>
        <form [formGroup]="loginForm" (ngSubmit)="loginSumbit()">
            <div class="gap-5 flex flex-column">
                <div class="card">
                    <input pInputText formControlName="email" type="email" class="w-full " placeholder="Enter Email" />
                    <app-error-message [errorText]="[{text:'required', error:'required'}]" [formGroupErr]="loginForm"
                        [formControlErr]="'email'"></app-error-message>
                </div>
                <div class="card">
                    <p-password formControlName="password" placeholder="Password" [toggleMask]="true"
                        [feedback]="false" />
                    <app-error-message [errorText]="[{text:'required', error:'required'}]" [formGroupErr]="loginForm"
                        [formControlErr]="'password'"></app-error-message>

                    <app-api-response-error [apiResponeErr]="errMessage"></app-api-response-error>

                    <div class="text-right pt-3">
                        <a routerLink="/auth/forgetPassword">Recover Password?</a>
                    </div>
                </div>
                <!-- <button pButton pRipple class="block bg-main-color btn">Sign in</button> -->
                <app-button [class.disabled]="isDisabled" [text]="'Sign in'" [classes]="'w-full'" [divClasses]="'pb-4'"></app-button>
            </div>
        </form>
    </div>
</div>